*{
	box-sizing: border-box;
	margin: 0;
}

header {
	text-align: center;
	font-size: 30px;
	background-color: skyblue;
	padding: 10px;
	height: 20vh;
}

nav {
	float: left;
	width: 20%;
	min-height: 70vh;
	background-color: teal;
	text-align: center;
}

img {
	width: 100%;
}

nav img {
	max-width: 80%;
	max-height: 30%;
	width: 100px;
}

main {
	float: right;
	width: 80%;
	min-height: 70vh;
	background-color: gold;
	text-align: center;
}

main figure {
	border: 1px solid grey;
	float: left;
	width: 20%;
	margin: 0;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	text-align: center;
	background-color: skyblue;
	padding: 10px;
	height: 10vh;
}